<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
    <dict>
        <key>assets</key>
        <array>
            <dict>
                <key>kind</key>
                <string>software-package</string>
                <key>url</key>
                <string>https://github.com/Project112224/debug_app/blob/main/ipa/debug/cathay_health.ipa?raw=true</string>
            </dict>
        </array>
        <key>metadata</key>
        <dict>
            <key>bundle-identifier</key>
            <string>tw.com.cathayhealth.booking</string>
            <key>bundle-version</key>
            <string>1.2.3</string>
            <key>kind</key>
            <string>software</string>
            <key>title</key>
            <string>cathay_health</string>
        </dict>
    </dict>
</array>
</dict>
</plist>
